<div class="trello-card">

  <!-- FORM -->
  <form ng-if="$ctrl.formState.show"
        ng-submit="$ctrl.submit(cardForm)"
        name="cardForm"
        class="card-form">

      <div class="form-group">
        <label for="name">Name</label>
        <input ng-model="$ctrl.cardForm.name" type="text" class="form-control" id="name" placeholder="Insert a task to work on">
      </div>

      <div class="form-group">
        <label for="due">Due</label>
        <input ng-model="$ctrl.cardForm.due" type="date" class="date form-control" id="due" placeholder="Password">
      </div>

      <button type="submit" class="btn btn-primary"><i ng-if="$ctrl.formState.loading" class="fas fa-spinner fa-spin"></i>Update</button>
      <button type="button" ng-click="$ctrl.toggleForm()" class="btn btn-default">Cancel</button>
  </form>
  <!-- END FORM -->


  <!-- CARD INFO -->
  <div class="info" ng-if="!$ctrl.formState.show">
    <span ng-if="$ctrl.card.badges.due" class="due">
        Due: {{ $ctrl.card.badges.due | date }}
    </span>

    <span class="name">
      {{ $ctrl.card.name }}
    </span>

    <div class="labels">
      <span ng-repeat="label in $ctrl.card.labels"
            class="label label-default"
            style="background-color: {{ label.color }}">
            {{ label.name || '' }}
      </span>
    </div>
  </div>
  <!-- END CARD INFO -->


  <!-- CARD ACTIONS -->
  <div class="actions" ng-if="!$ctrl.formState.show">
    <span class="action" ng-click="$ctrl.toggleForm()">
      <i class="fa fa-edit"></i>
    </span>

    <span class="action" ng-click="$ctrl.showDetails()">
      <i class="fa fa-eye"></i>
    </span>

    <span class="action" ng-click="$ctrl.delete($ctrl.card.id)">
      <i class="fa fa-trash"></i>
    </span>
  </div>
  <!-- END CARD ACTIONS -->

</div>
